tqdm==4.64.0
pandas==1.4.2
matplotlib==3.5.2
https://download.pytorch.org/whl/cu113/torch-1.11.0%2Bcu113-cp39-cp39-linux_x86_64.whl
transformers==4.20.0
datasets==2.3.2
plotly==5.9.0
wordcloud==1.8.2.2
seqeval==1.2.2
kaleido==0.2.1